<user-list></user-list>

<div class="right-column-wrapper">

  <!-- {{selStory}} -->

  <h1 class="page-mainname">{{selStory.name}}</h1>


  <div class="repeat-wrapper-pages">
    <div ng-repeat="story in selStory.body track by $index">
      <br>
      <input class="input-model-subname" placeholder="{{story.title}}" ng-model="story.title"></input>
      <br>
      <textarea class="input-model-text" cols=20 class="info-box" ng-model="story.text">{{story.text}}</textarea>
      <div class="edit-options">
        <button class="edit-option-button" ng-click="addTab($index)">Add Tab</button>
        <button class="edit-option-button" ng-click="removeTab($index)">Remove Tab</button>
        <button class="edit-option-button" ng-click="shiftUp($index)">Shift Up</button>
        <button class="edit-option-button" ng-click="shiftDown($index)">Shift Down</button>
    </div>
    </div>
  </div>
  <div class="bottom-button-container">
    <!-- <div class="new-button-container"> -->
      <button class="edit-option-button" class="bottom-button" ng-click="updateTab()" ui-sref="wikipage({id: selStory._id})">Finish</button>
      <button class="edit-option-button"  class="bottom-button"ng-click="removePage()">Delete Page</button>
  <!-- </div> -->
</div>
</div>
<div class="spacer"></div>
