<!-- {{user}} -->
<!-- {{story}} -->
  <div class="sub-header-main-display">
      <input class="search-bar-home" ng-model="search.name"></input>
    </div>

</div>

<section class="home-repeat-container">
  <div class="repeat-wrapper-home">
    <div class="home-page-main-display" ng-repeat="prop in story.story track by $index">
      <div>
        <span class="name-display-home">{{prop.name}}</span>
      </div>
      <div>
        <!-- <div class="home-preview">{{prop}}</div> -->
        <button class="home-view-change" ui-sref="wikipage({id: prop._id})">View Page</button>
      </div>
    </div>
  </div>
</section>
<div class="spacer"></div>
