<div class="right-column-wrapper">

<h1>Create a Page</h1>
Hello, {{user.data.name}} <br><br><br>

<!-- {{user}}<br><br><br>
{{saveArr}}<br><br><br>

{{storyData}}<br><br><br> -->

storyId_id {{storyId._id}}<br><br><br>
storyId This is my response {{storyId}} <br><br><br>
updatedStory {{updatedStory}} <br><br><br>
storyName {{storyName}}  <br><br><br>

<button ng-click="addStory(storyName)">Create Page</button>

<input ng-model="storyName.name"></input>

<div ng-repeat="tab in tabs track by $index" ng-show="toggleTab">
  <!-- <button ng-click="addStory()">Save</button> -->
</div> <br>

<input ng-model="storyData.body.title" placeholder="Please Enter a Name" ng-show="toggleTab"></input>
<textarea ng-model="storyData.body.text" class="info-box" cols=20 rows=20  ng-show="toggleTab"></textarea>
<button ng-click="saveSections(storyData)">Add Section</button>

<!-- <button ng-click="addTab()">New Tab</button> <br>
<button ng-click="clearTab()">Clear</button> <br> -->

</div>
<user-list></user-list>
