<div class="right-column-wrapper">

<h1>Create a Page</h1>
Hello, {{user.data.name}} <br><br><br>

<!-- {{user}}<br><br><br>
{{saveArr}}<br><br><br>

{{storyData}}<br><br><br> -->

<!-- story {{storyRes}}<br><br><br>
storyId_id {{storyId._id}}<br><br><br>
storyId This is my response {{storyId}} <br><br><br>
updatedStory {{updatedStory}} <br><br><br>
storyName {{storyName}}  <br><br><br>

Actual Formatting Effort Below <br><br><br> -->

<button ng-click="addStory(storyName)" ng-hide="toggleTab">Create Page</button>

<input ng-model="storyName.name" ng-hide="toggleTab"></input>

<h1>{{storyRes.name}}<h1>

<div ng-repeat="update in updatedStory.body track by $index">
  <br>
  <h2>{{update.title}}<h2>
  <hr>
  <p>{{update.text}}<p>
  </div> <br>

<input ng-model="storyData.body.title" placeholder="Please Enter a Name" ng-show="toggleTab"></input>
<textarea ng-model="storyData.body.text" class="info-box" cols=20 rows=20  ng-show="toggleTab"></textarea>
<button ng-click="saveSections(storyData)">Add Section</button>

<!-- <button ng-click="addTab()">New Tab</button> <br>
<button ng-click="clearTab()">Clear</button> <br> -->

</div>
<user-list></user-list>
