html {
  background-color:#EFECCA;
  width: 100%;
  margin:0;
  padding:0;
  height:100%;
}

body {
  margin:0;
  padding:0;
  height:100%;
}

/*header formatting*/


.header {
  background-color: #046380;
  height: 5em;
  color: #E6E2AF;
  border-bottom: 5px solid black;
  border-radius: 7px;
  border-top: 2px solid black;
/*   border-left: 2px solid black; */
  border-right: 3px solid black;
  position:fixed;
  width:100%;
}

.header-cont{
  height:5em;
  width:100%;
}

.flex-container {
  display: flex;
  justify-content: center;
  height:15vh;
  width:14%;
  border-bottom: 5px solid black;
  border-left: 2px solid black;
  border-right:3px solid black;
  border-radius:7px;
  position:relative;
  z-index:-1;
}

.flex-image {
 width: 100%;
 height:100%
/*  border-bottom:.3em solid black;
 border-left: .2em solid black;
 border-right: .2em solid black; */
}

.border-right{
   border-right: 4px solid #046380;
   position: absolute;
   top: 0;
   bottom: 5.2em;
}

/* .image-spacer {
  height:100%;
  width:100%;
  position:absolute;
  border-bottom:.3em solid black;
  border-left: .2em solid black;
  border-right: .2em solid black;
} */


.span-wrapper {
  float:right;
  margin-right: 5%;
  min-height: 5em;
  position:relative;
  z-index: 10;
}

.logo {
  color:#E6E2AF;
  background:none!important;
  border:none;
  padding:0!important;
  cursor:pointer;
  display: block;
  width:14%;
  margin-top: .5em;
  margin-right:.5em;
  font-family:'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 3.0em;
  display:inline-block;
  position:absolute;
  top:0;
  right:0;
  text-shadow:
    -4px -4px 0 #002F2F,
    4px -4px 0 #002F2F,
    -4px 4px 0 #002F2F,
    4px 4px 0 #002F2F;
  }

 .drop-down-placer {
   margin-top:4.9em;
   margin-right:1.1em;
   border: 3px solid #002F2F;
   background:#E6E2AF;
   width:14%;
   height:30vh;
   padding-top: .5em;
   padding-bottom: .5em;
   padding-left: .5em;
   position:absolute;
   float:right;
   top:0;
   right:0;
  }

  .drop-down-greeting {
    color:#002F2F;
  }

 .drop-down-link {
   background:none!important;
   border:none;
   padding:0!important;
   color:black;
   cursor:pointer;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

/*footer formatting & spacing*/

.wrapper {
  min-height:100%;
  margin-bottom: -1.5em;
}

.wrapper:after {
  content: "";
  display: block;
  height: 2em;
}

.footer {
  height: 2em;
  background-color: #046380;
  border-top:1px solid black;
  width:100%
}

.right-column-wrapper {
    width:85%;
    height:5em;
    margin:0;
    padding:0;
    min-height: 5em;
    display:inline-block;
}


/* Side Menu Directive*/
.menu-wrapper {
  width:14%;
  margin:0;
  margin-top:8vh;
  padding:0;
  text-align: center;
  display:inline-block;
  vertical-align: top;
  position:fixed;
}

.menu-cont {
  background:yellow;
  margin-top:8vh;
  width:14%;
  margin:0;
  padding:0;
  vertical-align: top;
  display:inline-block;
}

.view-change {
  background:none!important;
  border:none;
  padding:0!important;
  color:black;
  cursor:pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.info-box {
  width: 85%;
  min-height: 5px;
  margin:1em auto;
  display:block;
}


/*home page formatting*/


.sub-header-main-display {
  width:85%;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right:auto;
  margin-left:auto;
  display: flex;
  justify-content: space-between;

}

.repeat-wrapper-home {
  overflow: scroll;
  overflow-x:hidden;
  width:85%;
  margin-right:auto;
  margin-left:auto;
  height:900px;
  background:#EFECCA;
}

.home-page-main-display {
  height:200px;
  width: 100%;
  margin-right:auto;
  margin-left:auto;
  border: 2px solid black;
  margin-bottom: 40px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #046380;
}

.name-display-home {
  margin-left: 1em;
  color:#E6E2AF;
  font-size:50px;

}

.home-view-change {
  margin-right: 2.7em;
}

/*page formatting*/

.repeat-wrapper-pages{
  background: #E6E2AF;
  border: 1px solid #002F2F;
  margin-right:3em;
  border-radius:6px;
}

.page-mainname{
  font-weight:bolder;
  height:2.5em;
  color: #002F2F;
  font-size: 3em;
  padding-top:1em;
  margin-left:15px;
}

.page-subname {
  font-size:24px;
  margin-left:3%;
  font-weight:bolder
}

.page-textdisplay {
  font-size:18px;
  margin-left:1%;
  margin-right:1%;
  margin-bottom:2%;
 }

/*log-in-wrapper*/

.log-in-wrapper {
  height:600px;
  width: 70%;
  margin-right:auto;
  margin-left:auto;
  margin-top:15%;
  border: 4px solid #002F2F;
  margin-bottom: 40px;
  border-radius: 25px;
  background: #046380;
}

.log-in-welcome {
  margin-top:50px;
  text-align:center;
  font-size:60px;
  color: #E6E2AF;
    text-shadow:
    -2px -2px 0 #002F2F,
    2px -2px 0 #002F2F,
    -2px 2px 0 #002F2F,
    2px 2px 0 #002F2F;
}

.button-cont {

}

.log-in-button {
  width:100%;
  height:2em;
  background:#002F2F;
  color:#E6E2AF;
  font-size: 1.2em;
}

.user-input {
 width:100%;
 height:2em;
 margin-bottom:3%;

}

/* .log-in-text {
  margin-top:2%;
  font-size:40px;
  color: #E6E2AF;
  margin-top: 30px;
  margin-bottom:2%;
  text-align:center;
  width:85%;
  margin-right:auto;
  margin-left:auto;
  text-shadow:
  -2px -2px 0 #002F2F,
    2px -2px 0 #002F2F,
    -2px 2px 0 #002F2F,
    2px 2px 0 #002F2F;
}
 */
.log-in-wrap {
  width:85%;
  height:55%;
  margin-right:auto;
  margin-left:auto;
  display:flex;
  justify-content:space-between
}

.wrapping-login {
  margin-top:6em;
  margin-right:auto;
  margin-left:auto;
  display:block;
  width:45%;
  height:45%

}

.or-divider {
  margin-top:20%;
  font-size:25px;
  color:#E6E2AF;
  width:10%;
  margin-right:auto;
  margin-left:auto;
  text-align:center;
  text-shadow:
  -2px -2px 0 #002F2F,
    2px -2px 0 #002F2F,
    -2px 2px 0 #002F2F,
    2px 2px 0 #002F2F;
}

.wrapping-register{
  margin-top: 5em;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  display:block;
  margin-bottom:2%;
}

.register-wrap {
  width:45%;
  margin-right:auto;
  margin-left:auto;
  display:flex;
}

.log-in-bottom-text {
  text-align:center;
  margin-top:2em;
  font-size:1.6em;
    color: #E6E2AF;
    text-shadow:
    -2px -2px 0 #002F2F,
    2px -2px 0 #002F2F,
    -2px 2px 0 #002F2F,
    2px 2px 0 #002F2F;
}
/* .register-text {
  font-size:40px;
  color: #E6E2AF;
  width:85%;
  text-align:center;
  margin-right:auto;
  margin-left:auto;
  margin-bottom:2%;
  text-shadow:
  -2px -2px 0 #002F2F,
    2px -2px 0 #002F2F,
    -2px 2px 0 #002F2F,
    2px 2px 0 #002F2F;

}
 */
/*Side Logo*/

/*.flex-container {
 display: flex;
 justify-content: center;
}

.flex-image {
 height: 25vh;
 width: 100%;
}*/

/*.side-bar,
.blank-box {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.blank-box {
  background: yellow;
  min-width: 500px;
}

.side-bar {
  z-index: 10;
}*/
